/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.pokedex {
    -ms-grid-column-align: center;
    justify-self: center;
    border: 2px solid black;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(239, 235, 36.6)), color-stop(rgba(60, 90, 238, 0.571)), to(rgba(60, 90, 238, 0.571)));
    background-image: -o-linear-gradient(rgb(239, 235, 36.6), rgba(60, 90, 238, 0.571), rgba(60, 90, 238, 0.571));
    background-image: linear-gradient(rgb(239, 235, 36.6), rgba(60, 90, 238, 0.571), rgba(60, 90, 238, 0.571));
    overflow-x: scroll;
}

.pokemon {
    display: block;
    list-style: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -ms-flex-line-pack: center;
    align-content: center;
}

.pokemonSelect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    -ms-flex-wrap: wrap;

    flex-wrap: wrap;
    width: 100%;
    margin-top: 2%;
    max-height: 75vh;
}

#background.is-visible {
    z-index: 1;
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #00000080;
    border-radius: 10%;
}

#background.is-not-visible {
    z-index: -1;
    display: none;
}

#modalClose-btn {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 10px
}

.pokeButton {

    background-color: rgba(55, 196, 116, 0.7);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: .2em;
    border-radius: 20px;
    border: 2px inset linear-gradient(left white, rgba(0, 0, 0, 0.283));
    min-width: 10em;
    min-height: 2em;
    -webkit-box-shadow: 2px 5px black;
    box-shadow: 2px 5px black;

}


#modal-container {
    display: none;
    background-color: rgb(171, 184, 116);
    top: 10%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    border-radius: 5%;
    border: 5px inset rgba(18, 18, 120, 0.986);
    -webkit-box-shadow: 20px 5px rgba(95, 94, 110, 0.507);
    box-shadow: 20px 5px rgba(95, 94, 110, 0.507);
}


#modal-container.is-visible {
    z-index: 2;
    display: block;
}

#modal-container.isNotVisible {
    z-index: -1;
    display: none;

}

#modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: auto;
    height: 30vh;
    width: fit-content;

}

@media all and (max-width:615px) {
    .pokeButton {
        font-size: 16px;
        width: 100%;
        min-width: 18em;
        max-width: 18em;
        min-height: 4em;

    }

    .pokedexTitle {
        position: relative;
    }

    .pokedex {

        max-width: 400px;

    }

    .pokemonSelect {
        margin: 30% auto 0 auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        width: 300px;
        overflow-y: scroll;

    }

}